
#contacts-block {
    height: 500px;
    padding-right: 5px;
    overflow-y: scroll;
}

#contacts-detail-block {
    height: 500px;
    /* padding-right: 5px; */
    overflow-y: scroll;
    
}

ul li {
    list-style-type: none;
}

.input-header {
    background-color: #a9adac;
    font-size: 1em;
}

