
body.dark {
  --bg-color: #000;
  --bg-secondary-color: #131316;
  --font-color: #f5f5f5;
  --color-grey: #ccc;
  --color-darkGrey: #777;
}

#addon-container {
    width: 500px;
    /* margin: 1px; */
    padding: 10px;
    padding-left: 15px;
    /* padding-left: 15px; */
    
}

#psalm-verse {
    margin: 3px;
}

#settings {
    margin-bottom: 10px;
}